{#{% load static %}#}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <link rel="stylesheet" href="{% static 'style.css' %}">#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{#<h1>Hello, I am {{ title }} {{ fName }} {{ lName }}.<br>#}
{#    I am a {{ spirikoko }} {{ religion }} <br>#}
{#    I am a citizen of {{ nationality }} from south-easter state of {{ state }} <br>#}
{#    My mobile number is {{ phone_no }} <br>#}
{#    My temperament is {{ temperament }}.#}
{#</h1>#}
{#<h1>Input your texts below.</h1>#}
{#<form action="word_count" method="post">#}
{#    {% csrf_token %}#}
{#    <textarea name="text" id="" cols="60" rows="10"></textarea><br>#}
{#    <input type="Submit">#}
{#</form>#}
{##}
{#</body>#}
{#</html>#}